@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

:root{
    --fontFamilyTitre:'Pacifico', cursive;
    --fontSizeTitre:calc(20px + 2vw);
    --fontSizeParagraphe:calc(12px + 1vw);
    --fontSizeBouton:calc(8px + 1vw )
}

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:531px;

}

form{
    background-image:url(img/sable.jpg);
    background-size:cover;
    width:70%;
    height:90%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    box-shadow:10px 10px 3px rgba(0,0,0,0.8);
    position:relative;
 

}

.formGagner{
    background-image:url(img/confetis.jpg);
    animation-name:animationGagner;
    animation-duration:10s;
    animation-timing-function:linear;
    animation-iteration-count:infinite
}

@keyframes animationGagner{
    0%{
        background-position:0 -100%
    }

    100%{
        background-position: 0 100%;
    }
}



h1{
    position:absolute;
    top:2%;
    left:50%;
    transform:translateX(-50%);
    white-space:nowrap;
    text-align:center;
    font-family:var(--fontFamilyTitre);
    font-size:var(--fontSizeTitre);
}

.explicationJeu{
    position:absolute;
    top:15%;

    font-size:var(--fontSizeParagraphe);
    font-style:italic;
    left:10%
}

.niveau{
    position:absolute;
    background:transparent;
    padding:10px 5px;
    margin-bottom:5px;
    width:30%;
    cursor:pointer;
    z-index:2;
    overflow:hidden;
    /* color:white */
    box-shadow:2px 2px 2px rgba(0,0,0,0.8);
    font-size:var(--fontSizeBouton);

}



.niveauFacile{
    top:30%;
    overflow:hidden;
}

.activeNiveau{
    background-color: white;

 }

.niveauFacile:before,
.niveauMoyen:before,
.niveauDifficile:before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    z-index:-1;
    background-color:white;
    width:100%;
    height:100%;
    transform:translateX(-100%);
    transition:transform 0.5s
}

.niveauFacile:hover:before,
.niveauMoyen:hover:before,
.niveauDifficile:hover:before{
    transform:translateX(0);
}

.niveauMoyen{
    top:40%;
}

.niveauDifficile{
    top:50%;
}

.vosNombres{
    display:none;
}

.vosNombresActive{
    display:flex;
    position:absolute;
    top:60%;
    flex-direction:column;

}

.vosNombresActive label{
    font-size:var(--fontSizeParagraphe);
    font-style:italic;
    margin-top:15px;
}

.vosNombresActive input{
    transition:background-color 0.5s
}

.vosNombresActive input:focus{
    outline:none;
    background-color:rgb(145, 197, 49);
}

.vosNombresActive #boutonVerif,.vosNombresActive #rejouer{
 
    width:30%;
    margin:auto;
    margin-top:10px;
    background: transparent;
    cursor:pointer;
    padding:5px 10px;
    box-shadow:2px 2px 2px rgba(0,0,0,0.8);
    z-index:2;
    font-size:var(--fontSizeBouton);
    transition:background-color 0.8s
   
   
}



#boutonVerif:hover,#rejouer:hover{
    background-color:white;
}



p#texteVerificationNombre{
   position:absolute !important;
   top: 83% !important;
}

.texteVerificationNombreGagner{
    font-size:var(--fontSizeTitre)
}

p#tropHautOuBas{
    position:absolute;
    top: 87%;
}

p#combienDeTentative{
    position: absolute;
    top: 91%;
}

@media screen and (max-width:736px){
    form{
        width:100%;
        height:100vh;
    }

    .niveau{
        width:40%;
    }
}








